<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <listener>
        <listener-class>com.github.gherkin.resources.ListenerImpl</listener-class>
    </listener>

    <servlet>
        <display-name>Songs</display-name>
        <servlet-name>Song</servlet-name>
        <servlet-class>com.github.gherkin.resources.SongResource</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Song</servlet-name>
        <url-pattern>/Song</url-pattern>
    </servlet-mapping>

</web-app>